.home{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  header{
    width: 100%;
    background: black;
    position: fixed;
    z-index: 1;
    transition: padding-bottom .3s ease;
  }
  main {
    overflow: hidden;
    position: relative;
    width: 100vw;
    background: #6e6e6e;
    height: 100%;
  }
  footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #000;
    transition: padding-top .3s ease;
    .bottom-bar{
      height: 94px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      *{display: flex;}
    }
  }
}
