.home{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  header{
    width: 100%;
    height: 44px;
    background: black;
    position: fixed;
    z-index: 1;
    transition: padding-bottom .3s ease;
    ul{
      width: inherit;
      padding: 0 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      height: inherit;
      li{
        display: flex;
        width: 44px;
        color: #fff;
        justify-content: center;
        align-items: center;
        &.disabled:before{
          content: '';
          width: inherit;
          height: 2px;
          border: 2px solid #000;
          z-index: 1;
          background: white;
          position: absolute;
          transform: rotate(45deg) scale(0.7);
        }
        &:nth-child(3).disabled:before {
          height: 1px;
          border: 1px solid #000;
          transform: rotate(45deg) scale(1);
        }
        img {
          transform: scale(0.6);
        }
      }
    }
  }
  main {
    overflow: hidden;
    position: relative;
    width: 100vw;
    background: #6e6e6e;
    height: 100%;
  }
  footer{
    width: 100%;
    height: 124px;
    position: absolute;
    bottom: 0;
    background: #000;
    transition: padding-top .3s ease;
    .bottom-bar{
      height: 94px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      *{display: flex;}
    }
  }
}
