//square
header.square {
  padding-bottom: 80px;
}
footer.square{
  padding-top: 80px;
}
//photo
header.photo {
}
// video
header.video {
  background-color: rgba(0,0,0,.3);
}
footer.video {
  background-color: rgba(0,0,0,.3);
}
// timeLapse
header.timeLapse {
  background-color: rgba(0,0,0,.3);
}
footer.timeLapse {
  background-color: rgba(0,0,0,.3);
}
// sloMo
header.sloMo {
  background-color: rgba(0,0,0,.3);
}
footer.sloMo {
  background-color: rgba(0,0,0,.3);
}
// pano
header.pano {
  background-color: rgba(0,0,0,.3);
}
footer.pano {
  background-color: rgba(0,0,0,.3);
}